* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightcyan;
}

#card {
  width: 40em;
  height: 30em;
  background-color: #fff;
  display: grid;
  border-radius: 0.5em;
  box-shadow: 0em 0em 2em lightgray;
  overflow: hidden;
}

#form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#ques {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 2em 4em;
}

#title {
  width: 100%;
  height: 45%;
  text-align: center;
  padding: 3em 0;
}

#radio {
  width: 100%;
  height: 55%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

label {
  font-size: large;
  cursor: pointer;
}

.radioText input {
  cursor: pointer;
}

#submit {
  width: 100%;
  height: 15%;
}

#submit input {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 1.2em;
  color: #fff;
  background-color: purple;
  cursor: pointer;
}

#resultCard {
  width: 40em;
  height: 10em;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.2em;
  border-radius: 0.5em;
  box-shadow: 0em 0em 2em lightgray;
  overflow: hidden;
}

#restart {
  height: 45%;
  width: 100%;
  border: none;
  font-size: 1.2em;
  color: #fff;
  background-color: purple;
  cursor: pointer;
}
